<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">

            <p>
                Search: <input ng-model="$ctrl.query" />
            </p>

        </div>
        <div class="col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Date of birth</th>
                    <th style="width: 90px">
                        <button class="btn btn-success" ng-click="$ctrl.createUserAccount()">Create</button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="account in $ctrl.accounts | filter:$ctrl.query">
                    <td>{{account.firstName}}</td>
                    <td>{{account.lastName}}</td>
                    <td>{{account.email}}</td>
                    <td>{{account.dateOfBirth}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="$ctrl.editUserAccount(account.id)">Edit</button>
                    </td>
                    <td>
                    <button class="btn btn-danger" ng-click="$ctrl.delete(account)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>