<div class="container-fluid">
    <form name="myForm" novalidate="novalidate" class="form-horizontal">
        <div class="msg-error" ng-if="$ctrl.errorMessage">{{$ctrl.errorMessage}} - There is already a user with this email</div>
        <div class="row">
            <div class="col-md-10">
                <table class="table">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Date of birth</th>
                        <th style="width: 90px">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="controls">
                                <input type="text" name="inputFirstName" id="inputFirstName" ng-model="$ctrl.account.firstName" ng-required="true" />
                                <p ng-if="!myForm.inputFirstName.$valid"> This field cannot be empty </p>
                            </div>
                        </td>
                        <td>
                            <div class="controls">
                                <input type="text" name="inputLastName" id="inputLastName" ng-model="$ctrl.account.lastName" ng-required="true" />
                                <p ng-if="!myForm.inputLastName.$valid"> This field cannot be empty </p>
                            </div>
                        </td>
                        <td>
                            <div class="controls">
                                <input type="email" name="inputEmail" id="inputEmail" ng-model="$ctrl.account.email" ng-required="true" />
                                <p ng-if="!myForm.inputEmail.$valid"> This field cannot be empty </p>
                            </div>
                        </td>
                        <td>
                            <a ng-click="myForm.$valid && $ctrl.update()" class="btn btn-primary">Update</a>
                        </td>
                        <td>
                            <a ng-click="$ctrl.cancel()" class="btn btn-default .badge">Cancel</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>